:root {
  --dark-colour: #232422;
  --light-colour: #e3dad4;
}

@font-face {
  font-family: librebaskerville;
  src: url(LibreBaskerville-Regular.ttf);
}

*::before,
*::after {
    box-sizing: border-box;
}

body,
h1 {
  margin: 0;
}

body {
  padding: 2rem;
  background-color: var(--light-colour);
  color: var(--dark-colour);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-colour);
    color: var(--light-colour);
  }
}

html {
  font-family: librebaskerville, serif;
  font-size: 18px;
}

.center-box {
  display: grid;
  place-content: center;
}

h1 {
  font-size: 10vmax;
  max-width: 85vw;
}
