:root {
  --dark-colour: #0D0C0C;
  --light-colour: #FDFBFA;
}

@font-face {
  font-family: librebaskerville;
  src: url(LibreBaskerville-Regular.ttf);
}

*::before,
*::after {
    box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 3.5vmax;
  font-weight: 400;
  letter-spacing: 0.05em;
}

body {
  background-color: var(--light-colour);
  color: var(--dark-colour);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-colour);
    color: var(--light-colour);
  }
}

html {
  font-family: librebaskerville, serif;
  font-size: 18px;
}

.center-box {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100vw;
  text-align: center;
}

