:root {
  --dark-colour: #0D0C0C;
  --light-colour: #FDFBFA;
}

@font-face {
  font-family: librebaskerville;
  src: url(LibreBaskerville-Regular.ttf);
}

*::before,
*::after {
    box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
}

body {
  background-color: var(--light-colour);
  color: var(--dark-colour);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-colour);
    color: var(--light-colour);
  }
}

html {
  font-family: librebaskerville, serif;
  font-size: 18px;
}

.center-box {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100vw;
  text-align: center;
  padding-bottom: 50px;
}

.clock-outline {
  width: 350px;
  height: 350px;
  margin: auto;
  margin-bottom: 50px;
  border-color: var(--dark-colour);
  border-style: solid;
  border-radius: 100em;
}

.clock-hand {
  width: 4px;
  background-color: var(--dark-colour);
  position: absolute;
  top: 175px;
  left: 50%;
  transform-origin: top;
}

.clock-hand-second {
  width: 1px;
  height: 160px;
}

.clock-hand-minute {
  height: 150px;
}

.clock-hand-hour {
  height: 100px;
}

@media (prefers-color-scheme: dark) {
  .clock-outline {
    border-color: var(--light-colour);
  }

  .clock-hand {
    background-color: var(--light-colour);
  }
}
