@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Raleway:wght@700&display=swap');

html {
    font-size: min(max(1em, 4vw), 20.5px);
    font-family: 'Lusitana', serif;
}

body {
    display: grid;
    grid-template-columns: 15vw auto 15vw;
    background-color: whitesmoke;
}

article {
    grid-column-start: 2;
    justify-self: center;
    display: inline-grid;
}

img {
    width: 100%;
}

figure {
    width: 95%;
    margin: auto;
}

main {
    columns: 2;
    line-height: 1.75;
    margin: 0 2.5vw;
    text-align: justify;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4em;
}

header {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.featured-image-container {
    overflow: hidden;
    max-height: 15em
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    margin-top: .5em
}

.post-info {
    text-align: end;
    margin: 0;
    font-size: 0.85em;
    color: grey;
}


figcaption {
    font-size: 0.8em;
    padding: 2px 5px;
    margin-top: -10px;
    text-align: right;
    color: grey;
}

@media all and (max-width: 1250px) {
    body {
        grid-template-columns: 0 auto 0;
    }

    figure {
        width: 60%;
    }
}

@media all and (min-width: 2100px) {
    main {
        columns: 3;
    }
}

@media all and (max-width: 1700px) {
    main {
        columns: 1;
        text-align: left;
    }
}

@media all and (max-width: 1000px) {
    main {
        margin: 0;
    }

    figure {
        width: 100%;
    }
}

@media all and (min-width: 1251px) {
    main p:first-of-type::first-letter {
        font-size: 7em;
        float: left;
        padding: 0 0.1em;
        line-height: 0.9;
    }
}
